################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Back_End/React_assignment_web_api/obj
/Back_End/React_assignment_web_api/React_assignment_1_web_api.csproj.user
/Back_End/Asp.net_core_Web_api/obj
/Back_End/Asp.net_core_Web_api/React_assignment_1_web_api.csproj.user
Back_End/Asp.net_core_Web_api/.vs/React_assignment_1_web_api/FileContentIndex/read.lock
Back_End/Asp.net_core_Web_api/.vs/React_assignment_1_web_api/FileContentIndex/cbd5567a-42b7-4e80-8852-b16a4b70712a.vsidx
/Back_End/Asp.net_core_Web_api/.vs/React_assignment_1_web_api
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/cs
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/de
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/es
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/fr
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/it
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/appsettings.Development.json
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/ja
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/ko
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/appsettings.json
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/pl
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/pt-BR
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/ru
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/runtimes
*.dll
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/React_assignment_1_web_api.deps.json
/Back_End/Asp.net_core_Web_api/bin/Debug/net6.0/React_assignment_1_web_api.pdb
*.exe
*.json
/Back_End/Asp.net_core_Web_api/.vs/ProjectEvaluation/react_assignment_1_web_api.metadata.v5.2
/Back_End/Asp.net_core_Web_api/.vs/ProjectEvaluation/react_assignment_1_web_api.projects.v5.2
